@import "./reset.css";
@import "./buttons.css";
@import "./containers_and_frames.css";

.background {
    width: 100vw;
    height: 100vh;
    z-index: -2;

    display: flex;
    justify-content: center;

    position: absolute;

    overflow: hidden;
}

.background::after {
    content: '';

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-image: linear-gradient(135deg, #000000, #ffd700bf);
}

.background .video {
    height: 100vh;
}

main {
    height: 100vh;
    z-index: 3;

    display: flex;

    position: relative;
}

.left-screen {
    width: 25%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score {
    width: 100%;
    
    background-color: #ffffffbf;

    border: 5px solid #000000;
    border-radius: .25rem;

    padding: 1rem;
}

.card-face {

}

#card-image {

}

.card-detail {
    width: 100%;
    height: 5rem;

    background-color: #ffffffbf;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 5px solid #000000;
    border-radius: .25rem;

    padding: 1rem;
}

#card-name {
    font-size: .75rem;
}

#card-type {
    font-size: 1rem;
}

.right-screen {
    width: 75%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: .5rem;
}

.card-hand {
    width: 100%;
    height: 10rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    height: 100px;

    transition: transform .25s;
}

.card:hover {
    transform: scale(1.25);
}

.battlefield {
    height: 300px;

    display: flex;
    flex-direction: column;

    padding: .125rem;
}

.battlefield .combat, .battlefield button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.battlefield .combat {
    height: 225px;
}

.card-box {
    width: 7.5rem;
    height: 10rem;

    border-radius: .25rem;
}

.played-card {
    height: 180px;
    width: 125px;
}

.duel-symbol {
    height: 100px;
}

#advance {
    display: none;
}